<!DOCTYPE html>

<html>
	<head>
		<title>Beacon Analytics</title>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>

		<link rel='stylesheet' href='/css/style.css'>
	</head>
	<body>
		<header class='header'>
			<h4>Beacon Analytics</h5>
			<p>A solution by <span class='header__name'>Thiago HPC</span></p>
		</header>

		{{{body}}}

		<footer>
		</footer>
	</body>
</html>
