<main id='js-root'>
	<script src='js/jquery.js'></script>
	<script src='/js/jquery-ui.min.js'></script>
	<script src='/js/bundle.js'></script>

	<div class='date-range'>
		<h4 class='date-range__heading'>Date Filter</h3>
		<input class='date-range__input' id='js-date-from' readonly><input class='date-range__input' id='js-date-to' readonly>
	</div>
</main>
