<main id='js-root'>
	<script src='js/jquery.js'></script>
	<script src='/js/jquery-ui.min.js'></script>
	<script src='/js/bundle.js'></script>

	<input id='js-date-from'>
	<span> to </span>
	<input id='js-date-to'>
</main>
