
* {
	box-sizing:border-box;
}
html, body {
	width:100%;
	margin:0;
	padding:0;
}
html {
	height:100%;
}
body {
	min-height:100%;
	background-color: $color-background;
	font-family: $font-regular;
}


main {
	padding:32px 12px;
}
