
$font-regular: 'arial', 'monospace';
$font-size-regular: 1rem;

$color-gray-shadow: #4a4a4a;
$color-lighter-gray: #fafafa;
$color-border-gray:  #efefef;
$color-power-orange: #f05721;

$color-background: #ffffff;
$color-container: white;
$color-container-shadow: $color-gray-shadow;
$color-selected: $color-power-orange;
$color-table-headings: $color-lighter-gray;
$color-table-borders: $color-border-gray;
